<!DOCTYPE html>
<head></head>
<body>
	<h1> NOT THAT KIND OF MOLLY </h1>
	<h2> //get blogpost title from db <h2>
		<img src = (path to img src)>


		<a href="/posts/new">Make a new post here</a>


</body>

</html>
