
<!DOCTYPE html>
<body>
	<h1>NOT THAT KIND OF MOLLY</h1>
	<h3>create a post here:</h3>
	<form action="/posts" method="POST">
		<div>
			<label for="title">Title:</label>	
			<input type="text" name="title" placeholder="name" required>
		</div>
		<div>
			<label for="paragraph">Body:</label>
			<textarea id="paragraph" name="paragraph"></textarea>
		</div>
		<div>
			<label for="image">Image Url:</label>
			<input type="text" name="image" required> 
		</div>	

		<div class ="button">
			<button>Make</button>
		</div>
	</form>
</body>
</html>